.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 800px;
  height: 400px;
  margin: 100px auto;
  background-color: rgb(194, 241, 255);
}

.display-screen {
  background-color:rgb(40, 52, 56);
  width: 750px;
  height: 65px;
}

.key-board {
  display: flex;

}